@import "./styles/gbc.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  min-height: 100vh;
}

.error {
  color: #e04040;
  font-family: "VT323", monospace;
  font-size: 18px;
  padding: 1rem;
}
